body{
    font-family: 'Roboto Serif', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.nc{
    color:rgb(252, 182, 54);
    
    
}
.nc1{
    color:rgb(252, 182, 54);
    font-size: 18px;
    
}
.flx{
    display: flex;
    padding-bottom: 100px;
}
img{
    width: 90%;
}
.para{
    width: 50%;
    padding-top: 15px;
    padding-left: 5%;
    text-align: justify;
}
.imgs{
    width: 50%;
    padding-left: 10%;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.topbanner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.img1{
    width: 60%;
    padding: auto;
}
.dream{
    width: 60%;
    padding-top: 150px;
    padding-left: 25px;
}
.dreampara{
    text-align: justify;
    padding-right: 35px;
    width: 70%;
}
.ndhalf{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.resumebutton{
    text-decoration: none;
    font-weight: 900;
    color: white;
    background-image: linear-gradient(tomato,rgb(248, 109, 29));
    padding: 15px 30px;
    border-radius: 5px;
    
}
.boxpara{
    height: 390px;
    width: 600px;
    padding-left: 55px;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    
    

}
.expe{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.n1{
    font-size: 15px;
}

.boxshadow{
    box-shadow: 10px 5px 15px 15px rgba(119, 117, 117, 0.63);
    border-radius: 6px;
    border-left: 10px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 4;
}

#boxy{
    box-shadow: 10px 5px 15px 15px rgba(119, 117, 117, 0.63);
    border-radius: 6px;
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 4;
}

.fp{
    text-align: center;
    padding-bottom: 10px;
}